.signUp{
    margin-top:56px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: rgb(27,27,27);
    overflow-x: hidden;
}

.signup_card{
    border-radius: 20px;
    width:40%;
    height: fit-content;
    border:1px solid;
    padding: 15px 25px;
    margin-top:30px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    border: solid rgb(130, 130, 130) 1px;
    box-shadow: 0px 0px 80px rgb(79, 79, 79);
    background-color: rgb(27,27,27);
    margin-bottom: 30px;
}

.singUp_Inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:30px;
    margin-bottom: 30px;
}

@media (max-width:425px){
    .signup_card{
        width: 80%;
        margin-top: 150px;
    }
}