.videoUpload{
    margin-top: 56px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
    background-color: rgb(27,27,27);
}

.uploadBox{
    width: 45%;
    border-radius: 20px;
    border: solid rgb(130, 130, 130) 1px;
    margin-top: 20px;
    box-shadow: 0px 0px 80px rgb(79, 79, 79);
    padding:25px;
}

.uploadVideoTitle{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

.uploadForm{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
}

.uploadFormInput{
    /* margin-top: 30px; */
    /* width: 70%; */
    height: 45px;
    padding:0 20px;
    font-size:16px;
    box-sizing: border-box;
    background-color: #222222;
    border: none;
    border-radius: 5px;
}

.uploadThumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    /* margin: 15px 0; */
    min-width: 192px;
    padding: 10px;
    border: 1px dashed #000000;
    border-radius: 8px;
    /* background-color: #f9f9f9; */
    cursor: pointer;
  }
  
  .thumbnailLabel {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    gap: 10px;
    cursor: pointer;
  }
  
  .uploadButton {
    padding: 6px 12px;
    background-color: #434343;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .uploadButton:hover {
    background-color: #0056b3;
  }
  
  .thumbnailInput {
    display: none;
  }
  
  .uploadThumbnail:hover {
    border-color: #007bff;
    background-color: #f1f8ff;
    border: 1px dashed #ccc;
  }
  
.ThumbnailLabelSpan{
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  

.uploadBtns{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap:20px;
  * {
    font-weight: 500;
  }
  &:hover *{
    color: black;

  }
}

.uploadBtn-form:hover{
  background-color: #0056b3;
  color: white;
}

@media (max-width:425px){
  .videoUpload{
    margin-top: 150px;
  }
  .uploadBox{
    width: 70%;
  }
  .uploadBtn-form{
    min-width:fit-content!important;
  }

}

@media (max-width:768px){
  .uploadBtn-form{
    min-width:80px;
  }
}