.homepage{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100vh;
    flex: 1;
    margin-top: 100px;
}

.homepage_options{
    position: fixed;
    top: 50px;
    min-height: 60px;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    gap:10px;
    flex-shrink: 0;
    overflow-x: scroll;
    background-color: rgb(27, 27, 27);
    color: white;
    scrollbar-width: none!important;
    -ms-overflow-style: none!important;
    display: flex;
    align-items: center;
    padding: 0 75px;
}

.homepage_option{
    background-color: rgb(50,50,50);
    padding: 3px 15px;
    border-radius: 10px;
    text-wrap:nowrap;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    &:hover{
        background-color: rgb(63, 63, 63);
    }
}

.left, .right{
    height: 20px!important;
    width: 20px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:2;
    position: fixed;
    cursor: pointer;
    background-color: rgb(27, 27, 27);
    padding:8px;
    &:hover{
        background-color: rgb(75, 75, 75);
        border-radius: 50%;
    }
}

.left{
    left:0;
    box-shadow: 10px 0px 20px rgb(27, 27, 27);
}

.right{
    right: 0;
    box-shadow: -10px 0px 20px rgb(27, 27, 27);
}

.home_mainPage{
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: 50px; */
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    gap:15px;
    row-gap: 40px;
    padding:90px 0;
    background-color: rgb(27, 27, 27);
}

.youtube_video{
    color:white;
    text-decoration:none;
    display:flex;
    box-sizing:border-box;
    flex-direction: column;
    cursor: pointer;
    height: 316px;
}

.thumbnailBox{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height:216px;
}

.thumbnailImg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.timeStamp{
    position: absolute;
    bottom: 2%;
    right: 1%;
    width: auto;
    padding: 1px 2px;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 5px;
}

.youtube_titleBox{
    display: flex;
    padding-top: 10px;
}

.youtube_profilePic{
    width:50px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilePic_youtube{
    width:80%;
    border-radius: 50%;
}

.video_info_title{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.videoTitle{
    font-weight: 600;
    font-size: 16px;
}

.channelName{
    margin-top: 5px;
    font-size: 18px;
    color: rgb(170,170,170);
}

.video_views{
    font-size: 14px;
    color: rgb(170,170,170);}


@media (min-width:1024px){
    .home_mainPage{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        gap: 15px;
    }
    .youtube_video {
        flex: 400px 1 calc(25% - 15px);
        box-sizing: border-box;
    }
}

@media (max-width:768px){
    .home_mainPage{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        gap: 15px;
    }
    .youtube_video {
        flex: 0 1 calc(50% - 15px);
        box-sizing: border-box;
    }
}

@media (max-width:425px){
    .home_mainPage{
        display: grid;
        /* grid-template-columns: 600px 600px 600px 600px ; */
        grid-template-columns: repeat(auto-fit);
        padding: 10px;
    }
    .homepage{
        margin-top: 230px;
    }
    .homepage_options{
        top:170px;
    }
}
