.loginBox{
    width:100%;
    height:100%;
    background-color: rgba(27, 27, 27, 0.412);
    position:fixed;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.loginCard{
    border-radius: 20px;
    width:40%;
    height:fit-content;
    /* margin-top:10px; */
    background-color: rgb(27,27,27);
    box-sizing: border-box;
    padding:60px;
    display: flex;
    gap:30px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 40px 10px rgb(79, 79, 79);
    border: solid rgb(130, 130, 130) 1px;
}

.titleCard_login{
    font-size:23px;
    word-spacing: 0px;
    letter-spacing:0px;
    font-family: "Oswald", "sans-serif";
    font-weight:400;
    font-style:normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadFormInputLogin{
    width: 70%;
    min-height: 45px;
    padding:0 20px;
    font-size:16px;
    box-sizing: border-box;
    background-color: #222222;
    border: none;
    border-radius: 5px;
}

@media (max-width:425px){
    .loginCard{
        width: 90%;
        height: fit-content;
    }
    .uploadFormInputLogin{
        width: 100%;
    }
}

@media (max-width:770px){
    .loginCard{
        width: 70%;
        height: fit-content;
    }
    .uploadFormInputLogin{
        width: 100%;
    }
}


